//base settings
body, input, select, button, textarea {
  font-size: $fs;
}

html, body {
  height: 100%;
}

button {
  background-color: transparent;

  padding: 0;
  border: none;
  -webkit-appearance: button;
  overflow: visible;
  cursor: pointer;
}

body, input, select, button, textarea {
  font-family: Candara, sans-serif;
  line-height: 1.5;
}

input[type="text"], input[type="email"], input[type="password"], input[type="search"], select, textarea {
  width: 100%;
  max-width: 100%;
  padding: 0 5px;
  @include box-sizing(border-box);
  line-height: normal !important;
}

input[type="text"], input[type="password"], select, textarea {
  border: 1px solid;
  background-color: #fff;
}

input[type="text"], input[type="password"], select {
  height: 35px;
}

textarea {
  display: block;
  height: 64px;
  padding-top: 4px;
  padding-bottom: 4px;
}

///base settings

//scaffolding
body {
  min-width: 960px;
  background-color: $bg;
}

.container {
  max-width: $cw;
  padding: 0 $cp/2;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

.main-body {
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

article, .container {
  margin: 0 auto;
  clear: both;
}

.main-body > .content {
  position: relative;
  z-index: 1;
}

///scaffolding